# Pandas

## Create a pandas dataframe from a dictionary

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'patid' : [1001,2001,3001,4001,5001],
    'systolic' : [120,98,109,159,170],
    'diastolic' : [79,80,100,89,99],
    'bmi' : [18.6,23.44,25,37,39]}
cols = ['patid','systolic','diastolic','bmi']

patient_bp = pd.DataFrame(data,columns=cols)

patient_bp

   patid  systolic  diastolic    bmi
0   1001       120         79  18.60
1   2001        98         80  23.44
2   3001       109        100  25.00
3   4001       159         89  37.00
4   5001       170         99  39.00

### Check the type of a pandas dataframe

In [3]:
type(patient_bp)

pandas.core.frame.DataFrame

## GP practice information file

Read in the practice information data file to a pandas dataframe.

In [4]:
filename_practice="C:/Teaching/DMHR/python_data_methods/data/T201502ADDR+BNFT.CSV"
lookup_practice = pd.read_csv(filename_practice)

In [5]:
lookup_practice.head()

,201502,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON,CLEVELAND,TS18 1HU
0,201502,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,201502,A81003,THE HEALTH CENTRE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,201502,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,201502,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,,TS14 7DJ
4,201502,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

Create custom column names and read in the file again using the column names as the header.

In [6]:
cols = [ 
    'timePeriod', 
    'practice_code', 
    'practice_name', 
    'practice_organization', 
    'street', 
    'city', 
    'area', 
    'postcode' 
]

lookup_practice = pd.read_csv(filename_practice, sep=',',header=None, names=cols,index_col=False)

In [7]:
lookup_practice.head()

,timePeriod,practice_code,practice_name,practice_organization,street,city,area,postcode
0,201502,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON,CLEVELAND,TS18 1HU
1,201502,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,201502,A81003,THE HEALTH CENTRE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,201502,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,201502,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,,TS14 7DJ

Explore the data using built-in methods. Hint: use the tab key to list the methods available. shape,columns, dtypes, head, tail, describe.

In [8]:
#Try out the .shape method:

lookup_practice.shape

(9903, 8)

In [9]:
#Try out the .columns method:

lookup_practice.columns

Index([u'timePeriod', u'practice_code', u'practice_name',
       u'practice_organization', u'street', u'city', u'area', u'postcode'],
      dtype='object')

### Keys and columns are the same command

In [10]:
lookup_practice.keys()

Index([u'timePeriod', u'practice_code', u'practice_name',
       u'practice_organization', u'street', u'city', u'area', u'postcode'],
      dtype='object')

The main types stored in pandas objects are float, int, bool, datetime, timedelta[ns], category (in >= 0.15.0), and object. 
In addition these dtypes have item sizes, e.g. int64 and int32.

In [11]:
lookup_practice.dtypes

timePeriod                int64
practice_code            object
practice_name            object
practice_organization    object
street                   object
city                     object
area                     object
postcode                 object
dtype: object

In [12]:
lookup_practice.head()

,timePeriod,practice_code,practice_name,practice_organization,street,city,area,postcode
0,201502,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON,CLEVELAND,TS18 1HU
1,201502,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,201502,A81003,THE HEALTH CENTRE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,201502,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,201502,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,,TS14 7DJ

In [17]:
lookup_practice["city"].head()

0    STOCKTON
1    STOCKTON ON TEES
2    HARTLEPOOL
3    MIDDLESBROUGH
4    GUISBOROUGH
Name: city, dtype: object

In [13]:
lookup_practice.tail()

,timePeriod,practice_code,practice_name,practice_organization,street,city,area,postcode
9898,201502,Y04926,APPLETON PRIMARY CARE CENTRE,45 DUDLOW GREEN ROAD,,WARRINGTON,CHESHIRE,WA4 5EQ
9899,201502,Y04927,CULCHETH PRIMARY CARE CENTRE,JACKSON AVENUE,CULCHETH,WARRINGTON,CHESHIRE,WA3 4DZ
9900,201502,Y04933,QUAY HEALTH EAC,SPA MEDICAL CENTRE,50 OLD JAMAICA ROAD,,LONDON,SE16 4BN
9901,201502,Y04963,PETERBOROUGH SYSTEM CONTINENCE PILOT,CITY HEALTH CLINIC,WELLINGTON STREET,PETERBOROUGH,,PE1 5DU
9902,201502,Y04977,DCHS NHS FOUNDATION TRUST,WELBECK STREET,CRESWELL,WORKSOP,NOTTINGHAMSHIRE,S80 4HA

In [18]:
city_tail = lookup_practice["city"].tail()
city_tail

9898    WARRINGTON
9899    WARRINGTON
9900
9901    PETERBOROUGH
9902    WORKSOP
Name: city, dtype: object

In [20]:
type(city_tail )

pandas.core.series.Series

What problems do you see with the dataframe?

- Capital letters in the data makes it difficult to read.
- There are cells with missing data.

## Let's tidy it up

Capitalize only the first letter of practice city, area and street columns

In [23]:
# single column

lookup_practice["city"]=lookup_practice["city"].str.title()

lookup_practice["city"].head()

0    Stockton
1    Stockton On Tees
2    Hartlepool
3    Middlesbrough
4    Guisborough
Name: city, dtype: object

In [24]:
# multiple columns

for col in ["area","street"]:
    lookup_practice[col]=lookup_practice[col].str.title()

In [36]:
lookup_practice["area"].head()

0    Cleveland
1    Cleveland
2    Cleveland
3    Cleveland
4
Name: area, dtype: object

Capitalize the first letter of each word of the ‘practice organization’ and ‘name’ columns

In [28]:
lookup_practice["practice_organization"] = lookup_practice["practice_organization"].str.title()

lookup_practice["practice_organization"].head()

0    The Health Centre
1    Queens Park Medical Ctr
2    The Health Centre
3    6 Woodlands Road
4    Springwood Surgery
Name: practice_organization, dtype: object

In [32]:
lookup_practice["practice_name"] = lookup_practice["practice_name"].str.title()

Remove any trailing whitespace from all columns

In [35]:
# e.g. single column you can run:

lookup_practice["city"] = lookup_practice["city"].str.strip()

# in a loop

for col in lookup_practice.columns:    
    if lookup_practice[col].dtype.kind == object: #remember what the dtypes where for strings?
        lookup_practice[col] = lookup_practice[col].str.strip()

In [37]:
lookup_practice.head()

,timePeriod,practice_code,practice_name,practice_organization,street,city,area,postcode
0,201502,A81001,The Health Centre,The Health Centre,Lawson Street,Stockton,Cleveland,TS18 1HU
1,201502,A81002,Queens Park Medical Ctr,Queens Park Medical Ctr,Farrer Street,Stockton On Tees,Cleveland,TS18 2AW
2,201502,A81003,The Health Centre,The Health Centre,Victoria Road,Hartlepool,Cleveland,TS26 8DB
3,201502,A81004,6 Woodlands Road,6 Woodlands Road,,Middlesbrough,Cleveland,TS1 3BE
4,201502,A81005,Springwood Surgery,Springwood Surgery,Rectory Lane,Guisborough,,TS14 7DJ

How many practices do not have a city defined? 

This is a two-part problem, first, identify how the missing values are recorded.

In [ ]:
# a. Identify a way for replacing the missing values with NaN, pandas' internal missing value np.nan.

lookup_practice["city"] = #Your code here

# The entire dataframe at once 

lookup_practice = #Your code here

Could we have called replace before removing the whitespace above?

In [ ]:
# b. Use a function to count the missing values.

#Your code here

## GP prescribing data file

Read in the prescribing data file to a pandas dataframe.

In [ ]:
file_prescriptions=""

data=pd.read_csv(file_prescriptions)

data.head()

Create custom column names and read in the file again using the column names as the header.

In [ ]:
cols = [
    'sha',
    'pct',
    'practice',
    'bnf_code',
    'bnf_name',
    'items',
    'nic',
    'act_cost',
    'quantity',
    'period' 
];
data=pd.read_csv(file_prescriptions, sep=",", header=None, names=cols, index_col=False, skiprows=1)

Explore the data using built-in methods.

In [ ]:
.dtypes

In [ ]:
.head()

Use pandas' *unique* function to obtain the unique values from the series.

In [ ]:
pct_unique_values = #Your code here

Count the number of elements in the list using Python's _len_ function.

In [ ]:
#Your code here

Create a new column that contains the cost per dosage.

In [ ]:
data['cost_per_dosage'] = data['act_cost']/data['quantity']

## Densham Surgery Data

Create a new DataFrame that contains the prescribing data from 'The Densham Surgery'. This process is often called "subsetting". The files are linked using the practice code.

In [ ]:
#Find the practice code in our lookup table!

#Your code here

In [ ]:
#Now subset and assign to a new table

densham_data = #Your code here

Calculate the total cost of all prescribed items in the surgery.

In [ ]:
#Your code here

Which item had the highest total costs? There are two ways in which this can be done:

In [ ]:
# Sorting the dataframe according to the act_cost column

#Your code here

In [ ]:
# Using the max() function

#Your code here

Which item has the lowest total costs?

In [ ]:
# Sorting the dataframe according to the act_cost column

#Your code here

In [ ]:
# Using the min() function

#Your code here

Identify all prescribed items where the quantity is between 80 and 90 inclusive.

In [ ]:
# This is an sxample of using logical operators and truth testing to chain
# multiple conditional statements together.

#Your code here

Which item is the most frequently prescribed?

In [ ]:
#Your code here

How many prescribed items contain paracetamol?

*Hint:* Use the '.str.contains()' method.

Bonus points for doing this in one line ;-)

In [ ]:
#Your code here

Calculate descriptive statistics on the actual costs for prescribed items.

*Hint:* Use the '.mean', '.median', '.min', '.max', '.std' and '.var' methods.

In [ ]:
all_densham_costs = densham_data['act_cost']

#Your code here

Calculate the first quartile (25th percentile), second quartile (50th percentile), third quartile (75th percentile) using the quantile function

In [ ]:
#Your code here

Calculate the interquartile range (the difference between the third quartile and the first quartile)

In [ ]:
#Your code here

Calculate the total cost of all prescribed items containing paracetamol

In [ ]:
#Your code here

## All Data

What was the total actual cost of all prescribed items in the Q52 Strategic Health Authority? 

*Hint*: Divide by 1000000 to get figure in millions.

In [ ]:
#Your code here

Calculate the total cost of all prescribed medication per Strategic Health Authority (SHA).

In [ ]:
# Keep only the unique SHA instances.

all_shas = data['sha'].unique()

# create an empty dictionary to keep track of costs

cost_data = dict()

# loop through each SHA, get subset of costs, sum, add to dictionary

for sha in all_shas.tolist():

    sha_prescribing= ... #Your code here (subset)
    
    cost_data[ sha ] = ...

Which SHA had the highest costs? 

What about the lowest?

*Hint*: A clever way of doing this is using python's max() function on a dictionary in this way: max(dict, key=dict.get)

In [ ]:
# Highest costs

#Your code here

# lowest costs

#Your code here